$jumbotron:#eee;

/*--- Primary Button --*/
$primaryBtn: #337ab7;
$primaryBtn_border:#2e6da4;
$primaryBtn--active:#286090;
$primaryBtn_border--active:#204d74;

/*--- Info Button --*/
$infoBtn: #5bc0de;
$infoBtn_border:#46b8da;
$infoBtn--active:#31b0d5;
$infoBtn_border--active:#269abc;